services:
  sonarr:  # Points to series
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${CONFIG_DIR}/sonarr:/config
      - ${MEDIA_DIR}:/data
    ports:
      - "8989:8989"
    restart: unless-stopped

  radarr:  # Points to movies
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${CONFIG_DIR}/radarr:/config
      - ${MEDIA_DIR}:/data
    ports:
      - 7878:7878
    restart: unless-stopped

  prowlarr:  # Indexer
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ${CONFIG_DIR}/prowlarr:/config
    ports:
      - 9696:9696
    restart: unless-stopped

  flaresolverr:  # Solves captchas
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=info
      - TZ=${TZ}
    ports:
      - "8191:8191"
    restart: unless-stopped

  qbittorrent:
    image: ghcr.io/hotio/qbittorrent
    container_name: qbittorrent
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=1
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
      - UMASK=002
      - WEBUI_PORTS=8080/tcp,8080/udp
      - LIBTORRENT=v1

      # VPN
      - VPN_ENABLED=true
      - VPN_PROVIDER=pia
      - VPN_CONF=wg0

      - VPN_PIA_USER=${PIA_USER}
      - VPN_PIA_PASS=${PIA_PASS}
      - VPN_PIA_PREFERRED_REGION=${PIA_REGION}

      - VPN_AUTO_PORT_FORWARD=true
      - VPN_FIREWALL_TYPE=auto
      - VPN_LAN_NETWORK=${LAN_SUBSET}

      - VPN_LAN_LEAK_ENABLED=false
      - VPN_HEALTHCHECK_ENABLED=false
      - VPN_NAMESERVERS=wg

    volumes:
      - ${CONFIG_DIR}/qbittorrent:/config
      - ${MEDIA_DIR}:/data

    ports:
      - 8080:8080

    restart: unless-stopped

  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
      - VERSION=docker
      - PLEX_CLAIM=${PLEX_CLAIM}
    volumes:
      - ${CONFIG_DIR}/plex:/config
      - ${MEDIA_DIR}/content/series:/tv
      - ${MEDIA_DIR}/content/movies:/movies
    restart: unless-stopped
